@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    grid-area: 1 / 1 / 2 / 2;
    color: #D5D5D5;
    text-align: left;
    font-family: Raleway;
    font-weight: 100;
    font-size: 40px;
    display: inline;
}

#name {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 15%;
    margin-top: 45px;
}

h1:hover {
    text-shadow: 0px 0px 2px #F94924;
    transition: text-shadow 200ms;
}

#portrait {
    grid-area: 1 / 1 / 2 / 2;
    height: 130px;
    width: 100px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    margin: 0px auto 0px auto;
}

nav {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 55px;
    margin-left: 75%;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem;
    margin-top: 180px;
    height: 875px;
}

body {
    background-image: url("Photos/075\ Clean\ Mirror.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: grid;
    grid-template-columns: 100% 1fr;
    grid-template-rows: 140px 1fr;
    background-color: rgba( 0, 0, 0, .9);
    width: 100%;
    height: 140px;
    border-bottom: 3px ridge gray;
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    border-top: 3px ridge gray;
}

#headerContent {
    grid-area: 1 / 1 / 2 / 2;
    width: 400px;
    margin: 5px auto 5px auto
}

#background {
    height: 800px;
}

ul.footerNav {
    padding-left: 0px;
    text-align: center;
}

ul.footerNav>li {
    font-size: 15px;
    font-family: Helvetica;
    color: white;
    display: inline;
    padding: 5px 20px;
}


/* Content Boxes */

.content-Boxes {
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.boxList {
    padding-top: 15px;
    list-style-position: inside;
}

.box {
    color: white;
    font-size: 25px;
    font-family: helvetica;
    background-color: black;
    opacity: .9;
    width: 20%;
    height: 450px;
    margin-top: 180px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    transition: box-shadow 1s, height .5s, width .5s;
}

.box:hover {
    box-shadow: 0px 0px 5px 8px #F94924;
    height: 475px;
    width: 21%;
    transition: box-shadow 1s, height .5s, width .5s;
}

a.linkBox {
    height: 400px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}


/* END Content Boxes */